.rsize-d {
	position: absolute;
	width: 10px;
	height: 10px;
}
.rsizable {
	position: absolute;
}


.rsize-d-north {
	left: 0;
	width: 100%;
	cursor: ns-resize;
}

.rsize-d-south {
	left: 0;
	bottom: 0;
	width: 100%;
	cursor: ns-resize;
}

.rsize-d-east {
	right: 0;
	height: 100%;
	cursor: ew-resize;
}

.rsize-d-west {
	left: 0;
	height: 100%;
	cursor: ew-resize;
}

.rsize-d-northeast {
	right: 0;
	top: 0;
	cursor: nesw-resize;
}

.rsize-d-southeast {
	right: 0;
	bottom: 0;
	cursor: nwse-resize;
}

.rsize-d-southwest {
	left: 0;
	bottom: 0;
	cursor: nesw-resize;
}

.rsize-d-northwest {
	left: 0;
	top: 0;
	cursor: nwse-resize;
}
